<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <div></div>
  </span>
  <span>
    <a routerLink="/">
      <img class="d-inline-block mx-2" src="assets/image/logo.png" alt width="250" height="80"></a>
  </span>
  <span class="example-spacer"></span>
  <span>
    <a mat-button routerLink="/createsurvey" routerLinkActive="mat-accent">New Survey</a>
  </span>
  <span>
    <a mat-button routerLink="/createsurvey" routerLinkActive="mat-accent">Edit survey</a>
  </span>
  <span>
    <a mat-button routerLink="/createsurvey" routerLinkActive="mat-accent">Login</a>
  </span>
  <span>
    <a mat-button routerLink="/createsurvey" routerLinkActive="mat-accent">Register</a>
  </span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
