<div></div>
<mat-card class="example-card">
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <form [formGroup]="form" (submit)="onAddSurvey()">
  <div class='parent'>
    <h2>Create Survey</h2>
    <div>
    <mat-form-field appearance="outline">
      <mat-label>Survey Title</mat-label>
      <input
        matInput
        #input
        type="text"
        maxlength="30"
        formControlName="surveyNameCtrl"
        placeholder="Survey About a Product"
        required>
        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="form.invalid">Please enter a Survey Title.</mat-error>
    </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" style="width:12vw">
        <mat-label>Valid till</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>

<table mat-table [dataSource]="dataSource" style="width:50vw"  class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Question Column -->
  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef> Question Text</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="example-full-width">
        <mat-label>Question</mat-label>
        <input matInput>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="answertype">
    <th mat-header-cell *matHeaderCellDef> Answer Type</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="example-full-width">
        <mat-select>
          <mat-option *ngFor='let type of element.answertype' value= type>{{type}}</mat-option>

        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Options(comma seperated)</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="buttondiv">
  <button mat-raised-button color="accent" class="addbutton" (click) = "onAddOption()" >Add Question</button>
<button mat-raised-button color="primary" class="addbutton" type="submit"  >Create Survey</button>
<button mat-raised-button routerLink="/survey/list-survey" color="warn" class="addbutton">Cancel</button>

</div>
</div>
</form>
</mat-card>
