<mat-grid-list cols="2" rowWidth="1:2">
  <mat-grid-tile >
    <div class="mat-display-1">
      Create and share your survey in seconds.
      <br>
      <span class="mat-body-1">With our survey creator you can create your own survey in a matter of seconds, it never has been so easy!</span>
      <br>
      <div style='align-items: center; justify-content: center;'>
        <button mat-raised-button color="accent">Create Survey</button>
      </div>

       </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/image/home.gif" width="600" height="500">
  </mat-grid-tile>

</mat-grid-list>

