<div class="parent">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">{{surveyTitle}}</h2>
      </div>
      <div *ngIf="serviceResponse.length>0" class="alert alert-success alert-dismissible fade show" role="alert">
        {{serviceResponse}}
        <button type="button" class="close" (click)="dismiss()" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">
        <form (submit)="editSurvey()" class="form">
          <button class="example-button-row" type="submit" mat-raised-button style="width:7vw" color="accent">Respond</button>
          <button mat-raised-button style="width:7vw"  color="primary" routerLink="/survey/list-survey" >Quit</button>

        </form>
      </div>
    </div>
  </div>
</div>
